.card{
    height: 300px;
    width: 500px;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;

    .details{
        display: flex;
        margin: 20px;
        flex-direction: column;
    }

}

.rcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    flex-direction: row;
}

.filters{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    width: 200px;
    background-color: rgb(41, 41, 41);

    input{
        width: 150px;
        
    }

}
.rents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
    flex-direction: column;
}